*{
    padding: 0;
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.container{
    width: 100%;
    background-color: blue;
    height: 100px;
    background-image: url(images/photo1.jpg);
    background-position: center;
    background-size: cover;
    color: cornsilk;
}
.navbar{
    height: 12px;
    display: flex;
}
.logo {
    padding: 0px;
    margin: 0px;
    height: 100px;
    width: 100px;
    cursor: pointer;
}
.menu-icon{
    height: 50px;
    width: 50px;
    cursor: pointer;
}
nav{
    flex: 1;
    text-align: right;
}
